venv
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea
./*.iml

*.mako
.env_dev
postgresql_command

htmlcov/
.coverage
tools/backup/db.dump
tools/backup/db.sql

